.property
  %span.property__name= t('workarea.admin.catalog_products.affirm.allow_affirm')
  =  toggle_button_for 'product[affirm_available]', product.affirm_available, title_true: t('workarea.admin.catalog_products.affirm.allow'), title_false: t('workarea.admin.catalog_products.affirm.not_allowed')
