- if Workarea::Affirm.enabled? && Workarea.config.affirm_show_pdp_messaging && @product.affirm_available? && @product.sell_min_price.present?
  .affirm-as-low-as.affirm-as-low-as--pdp{ data: { amount: @product.sell_min_price.cents, affirm_color: Workarea.config.affirm_pdp_logo_color, affirm_type: Workarea.config.affirm_pdp_logo_type } }
  .affirm-as-low-as__subtext
    Select
    %span.payment-icon.payment-icon--affirm
    on Payment Step of checkout
