- if Workarea::Affirm.api_configured? &&  @product.sell_min_price.present?
  .affirm-as-low-as.affirm-as-low-as--cart{ data: { amount: @product.sell_min_price.cents, affirm_type: 'text', learnmore_show: 'false'}}
  .affirm-as-low-as__subtext
    Select
    %span.payment-icon.payment-icon--affirm
    on Payment Step of checkout
